body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Font/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("./Poppins-Font/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Font/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("./Poppins-Font/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./Poppins-Font/Poppins-Regular.ttf");
}